<!-- Rendered by dashboard-controller.js-->
<%- include('./layout.ejs') %>
<main>
  <h1>Welcome to dashboard</h1>
  <form action="/logout" method="POST" aria-label="Logout">
    <button type="submit" aria-label="Logout" id="logout-btn">Logout</button>
  </form>
  <aside></aside>
  <section>
    <div class="files-section">
      <% if (data.files.length !== 0) { %> <% data.files.forEach((file) => { %>
      <div>
        <span><%= file.name %></span>
      </div>
      <% }) %> <% } %>
    </div>
    <div class="folders-section">
      <% if (data.subfolders.length !== 0) { %> <%
      data.subfolders.forEach((folder) => { %>
      <div>
        <a href="/dashboard/folders/<%= folder.id %>">
          <span><%= folder.name %></span>
        </a>
      </div>
      <% }) %> <% } %>
    </div>
  </section>
</main>
