<%- include('./layout.ejs') %>
<main>
  <h1>Welcome to dashboard</h1>
  <form action="/logout" method="POST" aria-label="Logout">
    <button type="submit" aria-label="Logout" id="logout-btn">Logout</button>
  </form>
</main>
